<div class="main-content fa-v">

    <div style="position: relative; height: 150px;">
        <img src="https://assets.website-files.com/604a97c70aee09eed25ce991/61897a35583a9b51db018d3e_MartinPublicSeating-97560-Importance-School-Library-blogbanner1.jpg"
        style="position: absolute; width: 100vw; height: 150px; filter: brightness(80%); object-fit: cover;">
        <div style="position: absolute; width: 100%; height: 150px; display: flex; flex-direction: column;">
            <span class="title-text" style="margin: auto;">Completed Training</span>
        </div>
    </div>

    <div style="margin-top: 50px; width: 75vw; max-width: 1000px; min-width: 700px; align-self: center; height: 100%;">

        <mat-tab-group style="height: 100%;">
            <mat-tab label="Mandatory Trainings">  
                <div *ngFor="let course of mCourses">
                    <div class="d-flex fa-h list-card">
                        <img src="{{course.thumbnail}}" class="list-card-image">
                        <div style="margin: 15px;" class="d-flex fa-v">
                            <div class="d-flex fa-h" style="align-items: center;">
                                <div class="list-card-title">{{course.title}}</div>
                                <div class="d-flex fa-h" style="align-items: center;">
                                    <span style="font-size: small; margin-right: 10px;">{{course.duration}}</span>
                                </div>
                            </div>
                            <span style="margin-top: 10px; font-size: medium; color: var(--primary);">{{course.description}}</span>
                        </div>
                        
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Personal Career Path">  
                <div *ngFor="let course of pCourses">
                    <div class="d-flex fa-h list-card">
                        <img src="{{course.thumbnail}}" class="list-card-image">
                        <div style="margin: 15px;" class="d-flex fa-v">
                            <div class="d-flex fa-h" style="align-items: center;">
                                <div class="list-card-title">{{course.title}}</div>
                                <div class="d-flex fa-h" style="align-items: center;">
                                    <span style="font-size: small; margin-right: 10px;">{{course.duration}}</span>
                                </div>
                            </div>
                            <span style="margin-top: 10px; font-size: medium; color: var(--primary);">{{course.description}}</span>
                        </div>
                        
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>

</div>
