<ngx-spinner bdColor = "rgba(0, 0, 0, 0.4)" size = "large" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"></ngx-spinner>
<mat-card>
    <mat-card-content>
        <div style="padding: 25px;">
            <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">

                <div style="display: flex; flex-direction: column;">
                    <mat-form-field class="width-spacer">
                        <mat-icon matPrefix>collections_bookmark</mat-icon>
                        <mat-label>Course ID</mat-label>
                        <input matInput autocomplete="off" formControlName="course_id">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-icon matPrefix>subtitles</mat-icon>
                        <mat-label>Course Title</mat-label>
                        <input matInput autocomplete="off" formControlName="course_title">
                    </mat-form-field>

                    <button style="align-self: center;" mat-raised-button type="submit"><span style="padding: 15px;">Create Course</span></button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>